<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ride for Driver</title>
</head>
<style>
body {
background-image:url(https://media.giphy.com/media/Fe22CajsYBJio/giphy.gif);

     background-size:cover;
     }
.button {
    background-color: rgb(238,112,107);
    border: none;
    color: rgb(209,253,240);
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 8px;
    margin: 3px 2px;
    cursor: pointer;
    border-radius: 12px;

}

</style>
<body>
    {% if user.is_authenticated %}
     {% if user.driver == "y"%}
    <p >Open Ride Shows Below:</p>
    <form name = 'find' method="POST" action="{% url 'findride' %}">
        {% csrf_token %}
        <table border="1">
        <tr>
            <th>Arrive Time</th>
            <th>Destination</th>
            <th>Passage Number</th>
            <th>Choice</th>
        </tr>
        {% for ride in list %}
       <tr>
           <td>{{ride.arriveTime}}</td>
           <td>{{ride.Destination}}</td>
           <td>{{ride.PassageNum}} </td>
           <td><input type="radio", name="choice" value={{ride.id}} ,required oninvalid="alert('Must choice one ride!')"/>
       </tr>
            {% endfor %}
        </table>
        <!--<input type="button" value="Choose Ride">-->
        <button class="button">Choose Ride</button><br><br>
    </form>
    </br>
</br>
        <a href="{% url 'home' %}">Back</a>
</body>
    {% else %}
    <p> you are not a driver! Become a driver by modifying your profile</p>
</br>
</br>
    <a href="{% url 'home' %}">Back</a>
        {% endif %}
 {% else %}
      <p>You are not logged in</p>
      <a href="{% url 'login' %}">login</a>
      <a href="{% url 'signup' %}">signup</a>
    {% endif %}
</html>