<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ride Status</title>
</head>
<body>
{% if user.is_authenticated %}
 {% if user.driver == "y"%}
    <p >Your ride's status shows below:</p>
    <form name = 'riderstatus' method="POST" action="{% url 'drivestatus' %}">
        {% csrf_token %}
        <table border="1">
        <tr>
            <th>Arrive Time</th>
            <th>Destination</th>
            <th>Passage Number</th>
            <th>Ride Status</th>
            <th>Finish The Ride</th>
            <th>Riders</th>
        </tr>
      {% for ride in list %}
       <tr>
           <td>{{ride.arriveTime}}</td>
           <td>{{ride.Destination}}</td>
           <td>{{ride.PassageNum}} </td>
           <td>{{ride.ride_status}}</td>
           <td><input type="radio", name="finish" value={{ride.id}} >
           </td>
                       <td>   {%for user in ride.rider_pair_set.all%}
                           <li>---------------------</li>
                           <li> user: {{ user.username}}</li>
                           <li>number of passenger: {{user.number}}</li>
               {%endfor%}</td>
       </tr>
        {% endfor %}
        </table>

        <button>Confirm Choice</button>
    </form>
    {%else%}
    <p> you are not a driver! Become a driver by modifying your profile</p><br>
        {% endif %}
<a href="{% url 'home' %}">back</a>
    {% else %}
      <p>You are not logged in</p>
      <a href="{% url 'login' %}">login</a> |
      <a href="{% url 'signup' %}">signup</a>
    {% endif %}
</body>
</html>