<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ride Status</title>
</head>
<body>
    {% if user.is_authenticated %}
    <p >Your ride's status shows below:</p>
    <form name = 'Status', method="POST", action="{% url 'ridestatus' %}">
        {% csrf_token %}
        <table border="1">
        <tr>
            <th>Arrive Time</th>
            <th>Destination</th>
            <th>Passage Number</th>
            <th>Ride Status</th>
        </tr>
      {% for ride in list %}
       <tr>
           <td><input type = "text", name = "arriveTime", value="{{ride.arriveTime}}"></td>
           <td><input type = "text", name = "Destination", value="{{ride.Destination}}"></td>
           <td><input type = "text", name = "PassageNum", value="{{ride.PassageNum}}"> </td>
           {% if ride.ride_status == 'F'%}
           <td> Finished </td>
           {% else %}
           {% if ride.ride_status == 'O'%}
                <td> Open </td>
           {% else %}
                <td> Confirmed </td>

           {%endif%}
            {%endif%}

       </tr>
             {% endfor %}
            </table>
        <input type="submit" value="EDIT", >

    </form>

<a href="{% url 'home' %}">back</a>
    {% else %}
      <p>You are not logged in</p>
      <a href="{% url 'login' %}">login</a> |
      <a href="{% url 'signup' %}">signup</a>
    {% endif %}

</body>
</html>