<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
  <p><a href="{% url 'logout' %}">logout</a></p>
  <p><a href="{% url 'riderequest'%}"> start a new ride</a></p>
  <p><a href="{% url 'ridestatus'%}"> view your rides</a></p>
  <a href="{% url 'modify' %}">Change your profile</a>
  <br>as a driver: <br>
  <a href="{% url 'shareride' %}">Find a existing ride</a>
  <!--<p><a href="{% url 'ridestatus'%}"> view your rides</a></p>-->


{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a> |
  <a href="{% url 'signup' %}">signup</a>
{% endif %}
{% endblock %}