<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% load static %}
<link rel="stylesheet" type = "text/css" href="{%static 'users/home.css' %}">
{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!  <a href="{% url 'logout' %}">Logout</a>
<style>
.button {
    display: inline-block;
    background-color: rgb(238,112,107);
    border: none;
    color: rgb(209,253,240);
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 3px 2px;
    cursor: pointer;
    border-radius: 12px;
     transition: all 0.5s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
</style>

<div class = "nav">
<font size="4" face="Times">
 For a Rider: <br>
          </font>
  <a href="{% url 'riderequest'%}"class="button"><span>Start A New Ride</span> </a>
    <a href="{% url 'ridestatus'%}"class="button"> <span>View Your Rides</span></a>
 <a href="{% url 'modify' %}"class="button"><span>Change Your Profile</span></a>
 <!-- <a href="{% url 'shareride' %}">Find a existing ride</a>-->
    <font size="4" face="Times">
  <br><br>For a Driver:<br>
          </font>
 <a href="{% url 'findride' %}" class="button"><span>Find A Existing Ride</span></a>
<a href="{% url 'drivestatus' %}" class="button"><span>View Your Rides</span></a>

</div>

  <!--<p><a href="{% url 'ridestatus'%}"> view your rides</a></p>-->


{% else %}
<style type="text/css">
#txt{
 bottom:0px;
 text-align:center;
 position:relative

}
</style>


  <!--<p align="center">You are not logged in</p>-->


<div id=txt>
    <a href="{% url 'login' %}">login</a>
  <a href="{% url 'signup' %}">signup</a>
<p>You are not logged in</p>
</div>
{% endif %}
{% endblock %}