<!-- templates/signup.html -->
{% extends 'base.html' %}

{% block title %}Modify{% endblock %}

{% block content %}
    {% if user.is_authenticated %}

<h2>Modify</h2>

<form method="post">
  {% csrf_token %}
  <ul border="1">


           <li>Email: <input type = "email ", name = "email", value="{{usr.email}}" required></li>
           <li>
               Driver:
                <input type = "text", name = "driver", value= "{{usr.driver }}" , list="becomedri" required>
                 <!--{% if usr.driver == "n" %}-->
               <!--<input type = "text", name = "driver", value= No , list="becomedri" required>-->
                <!--{% else %}-->
                <!--<input type = "text", name = "driver", value= Yes , list="becomedri" required>-->
               <!--{% endif %}-->
           </li>
            <datalist id = "becomedri">
                <option value="n">n</option>
                <option value="y">y</option>
            </datalist>

<li> Vehicle Type:
        <input type = "text", name = "vehicle_brand", value="{{usr.vehicle_brand}}" list="veh-list">
                 <datalist id="veh-list">
                <option value ="v">v</option>
                <option value ="m">m</option>
                <option value="t">t</option>
                <option value="a">a</option>
                <option value="h">h</option>
                <option value="n">n</option>
                <option value="o">o</option>
                </datalist>
            </li>
                <!--{% if usr.vehicle_brand == "v" %}-->

<!--{% else %}-->
    <!--{% if usr.vehicle_brand == "m" %}-->
         <!--<input type = "text", name = "vehicle_brand", value=Mercedes list="veh-list">-->
        <!--{% else %}-->
            <!--{% if usr.vehicle_brand == "t" %}-->
                <!--<input type = "text", name = "vehicle_brand", value=Toyota list="veh-list">-->
            <!--{% else %}-->
                 <!--{% if usr.vehicle_brand == "a" %}-->
                   <!--<input type = "text", name = "vehicle_brand", value=Audi list="veh-list">-->
                 <!--{% else %}-->
                    <!--{% if usr.vehicle_brand == "h" %}-->
                        <!--<input type = "text", name = "vehicle_brand", value=Honda list="veh-list">-->
                    <!--{% else %}-->
                        <!--{% if usr.vehicle_brand == "n" %}-->
                            <!--<input type = "text", name = "vehicle_brand", value=Nissan list="veh-list">-->
                        <!--{% else %}-->
                            <!--<input type = "text", name = "vehicle_brand", value=Other list="veh-list">-->
                        <!--{%endif%}-->
                    <!--{%endif%}-->
                <!--{%endif%}-->
            <!--{%endif%}-->
        <!--{%endif%}-->
    <!--{%endif%}-->


            <li>Plate Number:<input type = "number ", name = "plate_number", value="{{usr.plate_number}}"></li>
            <li>maximum number of passengers:<input type = "number ", name = "maximum_number_of_passengers", value="{{usr.maximum_number_of_passengers}}"></li>
            <li>Special Vehicle Info:
        {% if usr.special_vehicle_info == "b" %}
            <input type = "text", name = "special_vehicle_info", value=Big list="dri-list">
        {% else %}
            {% if usr.special_vehicle_info == "s" %}
             <input type = "text", name = "special_vehicle_info", value=Small list="dri-list">
            {% else %}
                 <input type = "text", name = "special_vehicle_info", value=Large list="dri-list">
                {% endif %}
        {% endif %}
            </li>
            <datalist id = "dri-list">
                <option value="b">Big</option>
                <option value="m">Medium</option>
                <option value="l">Large</option>
            </datalist>


            </ul>
  <input type="submit" value="Update">
</form>
<a href="{% url 'home' %}">back</a>
    {% else %}
      <p>You are not logged in</p>
      <a href="{% url 'login' %}">login</a> |
      <a href="{% url 'signup' %}">signup</a>
    {% endif %}
{% endblock %}